[google_sheets]
sheetID = "<sheet_id>"
secretJSONPath = "C:\\squad\\squadsheets\\client_secret.json"
rolesSheet = "sheet_name_for_roles"
adminSheets = [
	"admin_sheet_name1",
	"admin_sheet_name2",
]
whitelistSheets = [
	"whitelist_sheet_name1",
]